[submodule "src/Symfony/Component/Validator"]
	path = src/Symfony/Component/Validator
	url = https://github.com/symfony/Validator.git
[submodule "src/TeyDe"]
	path = src/TeyDe
	url = https://juandalibaba@github.com/juandalibaba/TeyDe.git
